@use  '../mixins'  as *;

.section_event {
  margin-top: rem(80);
  .lecture-info {
    display: flex;
    align-items: center;
    gap: rem(64);
    @include laptop {
      gap: rem(12);
    }
    @include tablet {
      height: rem(565);
      gap: initial;
    }
    &__image {
      position: relative;
      width: rem(394);
      min-width: rem(394);
      height: rem(250);
      border-radius: 50%;
      overflow: hidden;
      @include tablet {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: rem(335);
        min-width: rem(335);
        height: rem(213);
      }
      .img-people {
        width: 100%;
        height: auto;
        transform: translateY(rem(-44));
      }
      .img-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: color-burn;
        width: 100%;
        height: auto;
      }
    }
    &__text {
      .text-part {
        display: inline;
      }
      @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }
  }
  .session-info {
    position: relative;
    display: flex;
    gap: rem(17);
    margin-top: rem(64);
    @include tablet {
      margin-top: rem(34);
      flex-direction: column;
      gap: rem(24);
    }
    &__text {
      flex: 1;
    }
    &__title {
      @include laptop {
        width: 40%;
        margin-left: auto;
      }
      @include tablet {
        width: initial;
        margin-left: initial;
      }
    }
    &__image {
      position: relative;
      width: rem(500);
      @include laptop {
        position: absolute;
        top: 0;
        height: rem(350);
      }
      @include tablet {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(335);
        top: initial;
        height: initial;
        margin: 0 auto;
      }
      .img-human {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: rem(526);
        height: auto;
        @include laptop {
          height: 100%;
          width: auto;
          left: 0;
        }
        @include tablet {
          position: relative;
          top: initial;
          right: initial;
          transform: initial;
          height: auto;
          width: 100%;
        }
      }
      .img-overlay {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        max-width: none;  
        height: auto;
        mix-blend-mode: color-burn;
        @include laptop {
          height: 100%;
          width: auto;
        }
        @include tablet {
          height: auto;
          width: 100%;
          right: initial;
        }
      }
    }
    .table {
      position: relative;
      margin-top: rem(60);
      width: 100%;
      @include laptop {
        margin-top: rem(180);
      }
      @include tablet {
        margin-top: rem(60);
      }
      &__line {
        display: flex;
        padding: rem(16) 0;
        border-top: 2px solid var(--border-color);
        font-size: rem(20);
        line-height: 120%;
        @include tablet {
          flex-direction: column;
          gap: rem(12);
        }
        &:first-child {
          padding-top: 0;
          border-top: 0;
          .table__header::after {
            top: 0;
            height: calc(100% + rem(16));
          }
        }
        &:last-child {
          padding-bottom: 0;
          .table__header::after {
            top: rem(-16);
            height: calc(100% + rem(16));
          }
        }
      }
      &__header {
        position: relative;
        opacity: .7;
        width: 43%;
        &::after {
          content: '';
          position: absolute;
          top: rem(-16);
          right: 0;
          width: 2px;
          height: calc(100% + rem(32));
          background: #D0D0D0;
        }
        @include tablet {
          width: 100%;
          &::after {
            content: none;
          }
        }
      }
      &__info {
        flex: 1;
        font-weight: 600;
        padding-left: rem(16);
        .discount {
          margin-right: rem(12);
        }
        @include tablet {
          padding-left: 0;  
        }
      }
    }
    &__support {
      margin-top: rem(48);
      font-size: rem(20);
      line-height: 120%;
      color: var(--text-accent);
      @include laptop {
        font-size: rem(18);
      }
    }
  }
}