@use  '../mixins'  as *;

.section_home {
  width: 100%;
  height: rem(760);
  background: var(--main-bg);

  @include mobile {
    height: 100vh;
    height: 100dvh;
  }

  .collage {
    position: absolute;
    height: 100%;
    width: rem(1604);
    bottom: rem(60);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @include mobile {
      width: rem(886);
      bottom: rem(26);
      right: rem(-109);
      left: initial;
      transform: initial;
    }
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 100vw;
      width: 100dvw;
      height: 100%;
      background: var(--main-bg);
      pointer-events: none;
      @include mobile {
        left: initial;
        transform: initial;
        width: 100%;
      }
    }
    &__sun {
      position: absolute;
      right: 9.41%;
      bottom: rem(84);
      max-width: none;  
      height: auto;
      animation: spin 25s linear infinite;
      @include mobile {
        width: rem(297);
        height: rem(297);
        bottom: rem(78);
        right: 16.83%
      }
    }
    &__queen {
      position: absolute;
      right: 18.27%;
      bottom: rem(276);
      transform: rotate(8deg);
      max-width: none;  
      height: auto;
      @include mobile {
        width: rem(47);
        right: 21.44%;
        bottom: rem(174);
        transform: rotate(15deg);
      }
    }
    &__king {
      position: absolute;
      right: 39.78%;
      bottom: rem(169);
      transform: rotate(-6deg);
      max-width: none;  
      height: auto; 
      @include mobile {
        width: rem(47);
        right: 40.97%;
        bottom: rem(122);
      }
    }
    &__textures {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 100vw;
      width: 100dvw;
      height: 100%;
      mix-blend-mode: color-burn;
      @include mobile {
        width: auto;
      }
    }
    &__city {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      max-width: none;  
      height: auto;
      @include mobile {
        width: 100%;
        bottom: 0;
      }
    }
    &__chess {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      max-width: none;  
      height: auto;
      mix-blend-mode: color-burn;
      @include mobile {
        width: 100%;
        bottom: 0;
      }
    }
    &__pawn {
      position: absolute;
      right: 10.16%;
      bottom: rem(20);
      max-width: none;  
      height: auto;
      @include mobile {
        display: none;
      }
    }
    &__knight {
      position: absolute;
      right: 29.49%;
      bottom: rem(-39);
      transform: rotate(-11deg);
      max-width: none;  
      height: auto;
      @include mobile {
        width: rem(77);
        right: 28.44%;
        bottom: rem(-3.4);
      }
    }
  }

  &__content {
    position: relative;
    padding-top: rem(124);
    z-index: 1;
    max-width: rem(542);
    box-sizing: initial;

    @include mobile {
      padding-top: 11vh;
      padding-top: 11dvh;
      max-width: 100%;
    }

    .title {
      &__line {
        display: block;
        &_n1 {
          animation: movement-text-l var(--anim-duration-text);
        }
        &_n2 {
          animation: movement-text-r var(--anim-duration-text);
        }
        &_n3 {
          animation: movement-text-l var(--anim-duration-text);
          padding-left: rem(91);
          @include mobile {
            padding-left: 19%;
          }
        }
        &_n4 {
          padding-left: rem(33);
          animation: movement-text-r var(--anim-duration-text);
          @include mobile {
            padding-left: initial;
            text-align: right;
          }
        }
      }
    }
    .subtitle {
      font-size: rem(18);
      line-height: 130%;
      text-align: center;
      margin: rem(24) 0 0;

      @include mobile {
        text-align: left;
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      margin-top: rem(40);

      @include mobile {
        flex-direction: column;
        gap: rem(14);
        margin-top: rem(32);
      }
      
      
      .button-big {
        @include desktop {
          flex-direction: column;
          gap: rem(14);
        }
      }
    }
  }

  .running-line {
    bottom: 0;
  }
}