@use  '../mixins'  as *;

.section_participants {
  display: grid;
  grid-template-columns: auto rem(151);
  grid-template-rows: auto auto;
  gap: rem(60) 0; 
  margin: rem(200) 0 rem(140);
  @include tablet {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: rem(40) 0;
    margin: rem(120) 0 rem(100); 
  }
  .title {
    display: flex;
    align-items: center;
  }
  .cards {
    grid-area: 2 / 1 / 3 / 3;
    overflow: hidden;
    width: 100%;
    @include tablet {
      grid-row: 2;
    }
    &__inner {
      display: grid;
      grid-column-gap: rem(20);
      grid-auto-columns: calc((100% / 3) - rem(13));
      grid-template-rows: 1fr;
      grid-auto-flow: column;
      @include laptop {
        grid-auto-columns: calc((100% / 2) - rem(10));
      }
      @include tablet {
        grid-auto-columns: 1fr;
      }
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 rem(37);
        @include tablet {
          width: calc(100vw - rem(40));
          padding: 0;
        }
        &__photo {
          overflow: hidden;
          width: 100%;
          aspect-ratio: 1 / 1;
          border-radius: 50%;
          @include tablet {
            width: rem(244);
          }
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        &__name {
          font-family: Golos-Text, sans-serif;
          font-weight: 600;
          font-size: rem(24);
          line-height: 120%;
          text-transform: none;
          margin: rem(28) 0 0;
        }
        &__desc {
          margin: rem(6) 0 0;
          opacity: .6;
          font-size: rem(20);
          line-height: 120%;
        }
        .more {
          margin-top: rem(20);
        }
      }
    }
  }
  .controls {
    width: rem(151);
    @include tablet {
      grid-row: 3;
      margin: 0 auto;
    }
  }
}