@use  '../mixins'  as *;

.section_stages {
  margin-top: rem(200);
  @include tablet {
    margin-top: rem(120);  
  }
  .title {
    &__wrapper-subtitle {
      position: relative;
      width: fit-content;
    }
    &__subtitle {
      position: absolute;
      display: block;
      bottom: rem(10);
      left: 100%;
      width: rem(280);
      margin-left: rem(21);
      font-family: Golos-Text, sans-serif;
      font-size: rem(20);
      color: var(--text-accent);
      font-weight: 400;
      text-transform: none;
      line-height: 120%;
      @include laptop {
        font-size: rem(18);
        bottom: 2px;
      }
      @include tablet {
        position: relative;
        bottom: initial;
        left: initial;
        width: 100%;
        margin: rem(12) 0 0;
      }
    }
  }
  .stages {
    position: relative;
    margin-top: rem(54);
    @include desktop {
      margin-top: rem(55);
      padding-top: rem(93);
    }
    &__inner {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: rem(20);
      width: 100%;
      height: rem(400);
      will-change: transform, mix-blend-mode;
      @include desktop {
        height: rem(300);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: rem(20);
      }
      @include tablet {
        display: flex;
        height: rem(300);
      }
    }
    &__item {
      position: relative;
      display: flex;
      gap: rem(20);
      &:first-child {
        grid-area: 1 / 1 / 2 / 3;
      }
      &:nth-child(2) {
        grid-area: 1 / 3 / 3 / 4;
      }
      &:nth-child(3) {
        grid-area: 2 / 1 / 3 / 3;
      }
      &:last-child {
        grid-area: 3 / 2 / 4 / 4;
        .stage__text {
          width: rem(446);
        }
      }
      @include desktop {
        flex-direction: column;
        flex: 0 0 calc((100% - (rem(20) * 2)) / 3); 
        max-width: calc((100% - (rem(20) * 2)) / 3);
        padding: rem(62) rem(24) rem(34) rem(20);
        gap: rem(28);
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
           background-image: url('../../assets/images/sections/stages/background.webp');
          background-repeat: no-repeat;
          background-size: cover;
          opacity: .8;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background-image: url('../../assets/images/sections/stages/textures.webp');
          background-repeat: no-repeat;
          background-size: cover;
          mix-blend-mode: color-burn;
        }
      }
      @include laptop {
        flex: 0 0 calc((100% - rem(20)) / 2);
        max-width: calc((100% - rem(20)) / 2);
      }
      @include tablet {
        min-width: 100%;
        height: 100%;
      }
    }
    &__img-plane {
      position: absolute;
      right: rem(-51);
      bottom: rem(45);
      padding: 0;
      transform: rotate(-15deg);
      @include desktop {
        bottom: initial;
        top: 0;
        transform: rotate(-19deg);
        width: rem(318);
        right: initial;
        left: rem(18);
      }
      &::after {
        content: none;
      }
      &::before {
        content: none;
      }
    }
    .controls {
      margin-top: rem(28);
      display: none;
      justify-content: center;
      gap: rem(16);
      @include desktop {
        display: flex;
      }
    }
    .stage {
      position: relative;
      padding: rem(20);
      box-sizing: border-box;
      display: flex;
      gap: rem(16);
      flex: 1;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-image: url('../../assets/images/sections/stages/background.webp');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .8;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-image: url('../../assets/images/sections/stages/textures.webp');
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: color-burn;
      }
      &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(36);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: #fff;
        font-weight: 600;
        z-index: 1;
      }
      &__text {
        font-size: rem(20);
        font-weight: 500;
        line-height: 120%;
        z-index: 1;
        @include desktop {
          font-size: rem(18);
        }
      }
      @include desktop {
        padding: 0;
        flex: initial;
        &::before {
          content: none;
        }
        &::after {
          content: none;
        }
      }
    }
  }
}