@use  '../mixins'  as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: rem(26) 5.27% rem(72);
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
  &__inner {
    max-width: rem(1222);
    width: 100%;
    .logo {
      display: flex;
      align-items: center;
      gap: 6.35px;
      &__icon {
        height: rem(31);
        width: rem(92);
        @include tablet {
          height: rem(27);
          width: rem(80);
        }
      }
      &__name {
        font-size: rem(17);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 108%;
        color: var(--text-logo);
        @include tablet {
          font-size: rem(14);
        }
      }
    }
  }
}