:root {
  --main-bg: #E9DED4;
  --main-color: #313131;
  --text-logo: #595653;
  --text-highlighting: #F54932;
  --text-accent: #3057A2;
  --button-big-one-default: #1F1F1F;
  --button-big-one-hover: #FBCE51;
  --button-big-two-default: transparent;
  --button-big-two-hover: #1F1F1F;
}